.objection-storage-page {
  width: 375px;
  height: 650px !important; /* Force the height to 650px */
  margin: 0 auto;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9; /* Background color */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
}

.back-icon {
  width: 24px;
  height: 24px;
}

.title {
  font-size: 24px;
  margin: 0;
  flex-grow: 1;
  text-align: center;
  position: relative;
  left: -6.5px; /* Adjust to center title with back button */
}

.spacer {
  width: 24px; /* Adjust to match the width of the icon */
}

.status-header {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between !important;
}

.sub-title, .status-title {
  font-size: 16px;
  color: #888;
}

.separator {
  border: 0;
  height: 2px;
  background: #e0e0e0;
  margin: 0;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: calc(100% - 20px);
  margin: 10px auto;
  background-color: #fff;
}

.documents-section {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px !important; /* Remove padding */
  border: none !important; /* Remove border */
  overflow: visible !important; /* Ensure no overflow */
}

.documents-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.document-item {
  display: flex;
  background-color: #f0f0f0;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.document-item.completed .document-item.submitted{
  background-color: #f0f0f0;
}

.document-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  text-align: left;
}

.document-status {
  font-size: 14px;
  margin-bottom: 5px;
}

.in-progress .document-status {
  color: #f39c12;
}

.not-started .document-status {
  color: #e74c3c;
}

.document-status {
  color: #2ecc71;
}

.document-title {
  font-size: 16px;
  font-weight: bold;
}

.document-id {
  font-size: 12px;
  color: #999;
}

.action-button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.submit-button {
  width: calc(100% - 20px);
  margin: 10px auto 20px auto;
  padding: 10px 0;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

.submit-button:hover {
  background-color: #333;
}
