.app-container {
  width: 375px;
  height: 630px;
  margin: auto;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

.of-header {
  width: 100%;
  height: 50px; /* Fixed header height */
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #e0e0e0;
}

.of-header-title {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-left: 100px;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.close-button img {
  width: 20px;
  height: 20px;
  margin-left: 75px;
}

.form-container {
  padding: 10px 20px;
  background-color: white;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.of-footer {
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.of-footer-button {
  width: 343px;
  height: 50px;
  padding: 10px;
  background-color: #7002FB;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.of-footer-button:disabled {
  background-color: #EAEAEA;
  cursor: not-allowed;
  color: #9B9B9B;
}

.objection-form {
  width: 100%;
}

.objection-form h2 {
  font-size: 1.2em;
  color: #333;
}

.objection-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
  color: black;
}

.gray-background {
  background-color: #f0f0f0;
}

.objection-form input {
    width: 310px;
    padding: 12px;
    margin-top: 5px;
    border-bottom: 1px solid #E5E5EC;
    font-size: 13px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.objection-form textarea {
  width: 310px;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.objection-form input[type="text"]::placeholder,
.objection-form input[type="tel"]::placeholder {
  color: #999;
  font-size: 1em;
}

.phone-number {
  display: flex;
  gap: 5px;
}

.phone-number input.mobileNumber {
  flex-basis: 25%; /* Smaller width for mobile number box */
  max-width: 60px; /* You can adjust this as needed */
  padding: 12px;
  border-bottom: 1px solid #E5E5EC;
  font-size: 13px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f0f0f0;
}

.phone-number input.phoneNumber {
  flex-basis: 75%; /* Larger width for phone number box */
  padding: 12px;
  border-bottom: 1px solid #E5E5EC;
  font-size: 13px;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #f0f0f0;
}

.phone-number span {
  margin-top: 15px;
}

.address-label .address-input {
  display: flex;
  align-items: center;
}

.address-input input {
  flex: 1;
  padding: 12px;
  border-bottom: 1px solid #E5E5EC;
  font-size: 13px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.address-input button {
  width: 50px;
  height: 44.5px;
  background: none;
  border: none;
  border-left: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-label span {
  font-size: 13px;
  color: #9B9B9B;
}

.address-input img {
  width: 24px;
  height: 24px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #333;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.form-label-with-tooltip {
  position: relative;
  display: flex;
  align-items: center;
}

.info-icon {
  width: 16px;
  height: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background-color: #eef4ff;
  border-radius: 8px;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  color: #5a02c9;
  width: 300px;
}

.objection-reason-textarea {
  height: 210px; /* Adjust height as needed */
  width: 310px;
  border: 1px solid #E5E5EC;
  font-size: 14px;
  color: #333;
  resize: none; /* Prevents resizing */
}

.objection-confirmation-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.objection-confirmation-content {
  background-color: white;
  border: 1px solid #E5E5EC;
  padding: 10px;
  font-size: 12px;
  color: #333;
  line-height: 1.5;
}

.objection-check {
  width: 10px;
}

.checkbox-container input[type="checkbox"] {
  width: auto; /* Override the global input width */
  height: auto; /* Override the global input height */
  margin-right: 10px; /* Space between checkbox and label */
  margin-left: 40px;
  cursor: pointer;
}

.required {
  color: #7002FB;
}