.signature-verification-page {
    width: 375px;
    height: 630px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .file-upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  

  
  .file-upload-label input {
    display: none;
  }
   